body {
  text-align: center;
  font-family: 'Moncaco', monaco;}


.tab {
  overflow: hidden;
  background-color: #ffb464;
  width: 1500px;
  height: 50px;
  background-color: #ffb464;
  animation-name: myAnimation;
  animation-duration: 6s;
  animation-iteration-count: infinite
}

@keyframes myAnimation {
  100%   {background-color: pink;}
  100%  {background-color: pink;}
  100%  {background-color: light rgb(255, 173, 91);}
  100% {background-color: light rgb(255, 173, 91);}
}



.tab button {
  background-color: inherit;
  float: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  font-family: 'Moncaco', monaco;
  
}


.tab button:hover {
  background-color: #e56300;
}


.tab button.active {
  background-color: #ff5fa4;
}


.tabcontent {
  display: outside;
  padding: 6px 12px;
  border: 1px solid #ffffff;
  border-top: none;
}